h1{
    color: #219F94;
    font-family: 'Original Surfer', cursive;
    font-size: 2.5em;
    position: relative;
    left: 10%;
    margin-bottom: 0.25em;
}

h2{
    color: #219F94;
    font-family: 'Original Surfer', cursive;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

