body{

}

#row1{
}

#row2{
}

#row3{
}

.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-evenly;
}

#carousel{

}

#logoPartenaires{
    text-align: center;
}

#acc, #univers, #ctc, #boutton, #roue{
    color: #54BAB9;
    font-family: 'Oswald', sans-serif;    
    font-size: 2.5em;  
}

#nav{
    background-color: #FBF8F1;
}

h2{
    color: #54BAB9;
    font-family: 'Oswald', sans-serif;    
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}


.nuit {
    background-color: #112F41;
    color: #ffffff;
}
  
.nuit button {
    background: #144098;
    color: #fff;
}

